{% extends 'template.twig' %}
{% block title %}Liste des dernier post{% endblock %}
{% block content %}
<h2>Ajouter un blog post</h2>
    <form action='/OCP5/listpost/addpost/addPostcreate' method='post'>
        <div class="form-group">
            <label for='title' class="form-label mt-4">Titre : </label>
            <input type='text' name="title" placeholder="Votre titre" required="required" class="form-control"></input></br>

            <label for='contenue' class="form-label mt-4">Contenue : </label>
            <textarea id="mytextarea" name="contenue" rows="5" cols="33"></textarea></br>

            <label for='chapo' class="form-label mt-4">Chapô</label>
            <input type='text' name="chapo" placeholder="Votre chapô" required="required" class="form-control"></input></br>

            <button class="btn btn-primary" type='submit'>Validez</button>
        </div>
    </form>
{% endblock %}