{% extends 'template.twig' %}
{% block title %}Liste des dernier post{% endblock %}
{% block content %}
<a href="/OCP5/listpost/addpost">Crée un blog post</a>
    <h2>Liste des dernier posts</h2>
    {% for listpost in listposts %}
        <a href="article-{{listpost.id}}"><h2>{{listpost.title}}</h2></a>
        <p>Auteur : <i>{{listpost.author}}</i></p>
    {% endfor %}
{% endblock %}