{% extends 'template.twig' %}
{% block title %}OCP5 - Information Utilisateur{% endblock %}
{% block content %}
<p>Information Utilisateur</p>
<p>Hello {{data_user.pseudo}}</p>
<b>{{data_user.phrase_profil}}</b><br>
<img src="{{data_user.picture_profile}}" width="250" height="200"></p>
{% endblock %}
