<!DOCTYPE html>
<html lang="fr">

<head>

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>

    <title>{% block title %}{% endblock %}</title>

    <nav>
        <a href="/OCP5">OCP5</a>
        <ul>
        {% if data_user is empty %}
            <li>
                <a href="/OCP5/login">Connexion</a>
            </li>
            <li>
                <a href="/OCP5/subscribe">S'inscrire</a>
            </li>
        {% else %}
            <li>
                <a href="/OCP5/settingaccount">Compte</a>
            </li>
            <li>
                <a href="/OCP5/listpost">Post</a>
            </li>
            <li>
                <a href="/OCP5/listpostuser">Vos poste(s)</a>
            </li>
            <li>
                <a href="/OCP5/deco">Deconnexion</a>
            </li>
        {% endif %}
        {% if data_user.UserType == 1 %}
            <li>
                <a href="/OCP5/admin">Gestion Admin</a>
            </li>
        {% endif %}
        </ul>
    </nav>

    {% if session.flash.danger is defined %}
        <div role="alert">
        <h6>{{ session.flash.danger }}</h6>
        </div>
    {% endif %}
    {% if session.flash.success is defined %}
        <div role="alert">
        <h6>{{ session.flash.success }}</h6>
        </div>
     {% endif %}

</head>

<body>
{% block content %} 
{% endblock %}
</body>



